body {
  margin: 0px;
  padding: 0px;
  width: 800px;
  height: 600px;
	background-color:black;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
p{
  text-align: left;
  font-style: oblique;
  color: white;
  padding: 10px;
  border-top: 10px;

}
